.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-background: #666;
}


/* --------- datepicker's calendar-grid styles ------------- */
/* copied from caspian theme and tweaked, default styles do not apply
 coz they rely on .date-picker-popup parent, which is not present in scene*/


.calendar-grid {
    -fx-padding: 0.5em;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
}

.date-cell {
    -fx-padding: 0.4em;
    -fx-alignment: BASELINE_CENTER;
}

.day-name-cell {
    -fx-font-style: italic;
}

.day-cell {
    -fx-padding: 0.4em 0.5em;
    -fx-border-color: derive(-fx-control-inner-background,-20%);
    -fx-border-width: 1px;
    -fx-font-style: normal;
}

.previous-month,
.next-month {
    visibility: hidden;
}

/* --------- custom classes ----------- */


.day-cell.weekend {
    -fx-text-fill: #0000ff;
}

.day-cell.holiday,
.day-cell.weekend.holiday {
    -fx-text-fill: #ee0000;
    -fx-font-weight: 600;
}

.month-calendar {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-insets: 1;
    /*-fx-background-radius: 0 6 6 6, 0 5 5 5;*/
    -fx-background-radius: 3em;
    -fx-padding: 0.7em;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0.5em; /* VBox */
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7), 3em, 0.73 , 0 , 0 );
}

.month-calendar .label {
    -fx-font-weight: 600;
    -fx-font-size: 1.2em;
    /*-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.4) , 2, 0.7 , 0 , 0 );*/
    -fx-text-fill: #000;

}

.year-label {
    -fx-font-weight: 600;
    -fx-font-size: 5em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 2em, 0.7 , 0 , 0 );
    -fx-text-fill: rgba(255,255,255,0.9);
	-fx-padding: 2em 5em;
}


